<body>
<header>
    <h1>AHORCADO</h1>
    <p>Podemos jugar a adivinar una palabra. El objetivo es descubrir una palabra secreta de al menos 8 letras sugiriendo letras una a una. Por cada acierto, la letra se coloca en su posición correcta; por cada error, se descuenta uno de los 10 intentos permitidos. Ganás si completás la palabra antes de agotar tus intentos.</p>
</header>
<main>
   
        <h2 id="palabra"></h2>
        <input type="hidden" value="@ViewBag.palabraUsar" id="palabraAdivinar"></input>
        <form action="#">
            Ingrese una letra: <input type="text" maxLength="1" id="letra"></input>
        <button onclick="ArriesgarLetra()">Arriesgar</button>
        </form>
</main>
</body>